@using EPiServer.Marketing.KPI.Commerce.ViewModels
@model EPiServer.Marketing.KPI.Commerce.ViewModels.SettingsViewModel


<div class="kpi-commerce-container">
    <div>
        <form action="Settings/Save" method="post">
            <h3 class="epsilon">@Html.TranslateFallback("/commercekpi/admin/displayname", "Commerce Conversion Goals Configuration")</h3>
            <hr>
            <p>@Html.TranslateFallback("/commercekpi/admin/description", "These settings are the default values used for Commerce conversion goals when added to a test.")</p>
            <div>
                <div class="flex">
                    <label for="PreferredMarket" class="flush--bottom push--left weight--normal cursor--pointer">
                        @Html.TranslateFallback("/commercekpi/admin/financialculturepreference", "Select which culture to use when saving and viewing financial results")
                    </label>
                    <select asp-for="PreferredMarket"
                            asp-items="@(new SelectList(Model.MarketList, nameof(MarketOption.IdValue), nameof(MarketOption.Name), Model.PreferredMarket))"
                            class="flex--none push--left">
                    </select>
                </div>
            </div>
            <hr>
            <button class="oui-button oui-button--outline mt-commerce-settings-cancel" type="button" aria-live="polite">
                @Html.TranslateFallback("/commercekpi/admin/cancel", "Cancel")
            </button>
            <button class="oui-button oui-button--highlight oui-button--default mt-commerce-settings-submit" type="button" aria-live="polite">
                @Html.TranslateFallback("/commercekpi/admin/save", "Save")
            </button>
            <div id="mt-commerce-settings-status" style="display: none"></div>
        </form>
    </div>
</div>